<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    div{
    margin: auto;
    width: 300px;
    height: 300px;
    border: 0.5px solid gray;
    box-shadow: 5px 5px 5x gray;
    padding:20px;
    border-radius: 5px;
    margin-top: 50px;
    }
    body{background-color: azure;}
    a button{
font: 10px;
margin-top: 150px;
margin-left: 10px;
text-align: center;
    }
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leo</title>
</head>
<body>
    <div>
<a href="MAINLEO.html"><button>CLICK ON ME TO VIEW LEO MWAHALENDE  WEBSITE</button></a></div>
</body>
</html>
